[user]
name = Go Ohtani
	email = otani_go@cyberagent.co.jp

[push]
default = simple

[core]
excludesfile = ~/.gitignore_global

[color]
diff = auto
branch = auto
interactive = auto
grep = auto

[alias]
st = status
ls = log --stat
ll = log --stat --abbrev-commit --graph
info = remote show origin

[pager]
diff = diff-so-fancy | less --tabs=4 -RFX
show = diff-so-fancy | less --tabs=4 -RFX

[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
