[user]
	name = Go Ohtani
	email = cathcheeno@gmail.com

[push]
	default = simple

[core]
	excludesfile = ~/.gitignore_global
    ignorecase = false
	editor = vim

#[color]
#	ui = always

#[color "diff"]
#	meta = yellow bold
#	commit = green bold
#	frag = magenta bold
#	old = red bold
#	new = green bold
#	whitespace = red reverse

#[color "diff-highlight"]
#	oldNormal = red bold
#	oldHighlight = "red bold 52"
#	newNormal = "green bold"
#	newHighlight = "green bold 22"

#[color "branch"]
#	current = yellow reverse
#	local = yellow
#	remote = green

#[color "status"]
#	added = yellow
#	changed = green
#	untracked = cyan

#[alias]
#	st = status
#	ls = log --stat
#	ll = log --stat --abbrev-commit --graph
#	info = remote show origin

#[pager]
#	diff = diff-so-fancy | less --tabs=4 -RFX
#	show = diff-so-fancy | less --tabs=4 -RFX

#[filter "lfs"]
#	clean = git-lfs clean -- %f
#	smudge = git-lfs smudge -- %f
#	required = true
#	process = git-lfs filter-process
#[url "https://178c4c9d9a9f2291bfb9eea03d6ed134b490539c:x-oauth-basic@github.com/"]
#	insteadOf = https://github.com/
[commit]
	template = ./.gitmessage
